.header-menu {
    position: fixed;
    width: 100vw;
    padding: .5rem 0;
    z-index: 999;

    &::after {
        content: '';
        position: absolute;
        top: -10px;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;

        background: var(--primary);
        backdrop-filter: blur(12.5px);
        -webkit-backdrop-filter: blur(22.5px);
    }

    .logo {
        img {
            max-width: 5rem;
            filter: invert(1);
        }

        transition: transform .3s ease-in-out;

        &:hover {
            transform: scale(1.05);
        }
    }

    .cart {
        padding-right: 2rem;

        &__icon {
            cursor: pointer;
            transition: transform .3s ease-in-out;

            &:hover {
                transform: scale(1.05);
            }
        }

        .badge {
            display: inline-block;
            background-color: var(--secondary);
            border-radius: 50%;
            text-align: center;
            padding: 0.15rem .5rem;
        }

        &__details {
            width: 90vw;
            max-width: 450px;
            top: 3.5rem;
            right: 0%;
            padding: 1rem;
            border-radius: 0.5rem;
            background-color: var(--white);
            color: var(--bg-dark);
            box-shadow: rgba(80, 77, 247, 0.35) 0px 5px 15px;
            opacity: 0;
            visibility: hidden;
            transition: all 0.3s ease;
            z-index: -1;

            #list {
                max-height: 50vh;
                overflow-y: auto;
            }

            &.active {
                visibility: visible;
                opacity: 1;
                top: 4rem;
            }

            hr {
                display: block;
                margin: 1rem 0;
                border: none;
                height: 5px;
                box-shadow:
                    rgba(50, 50, 93, 0.1) 0px 2px 5px -1px,
                    rgba(0, 0, 0, 0.1) 0px 1px 3px -1px;
            }

            .btn-primary {
                display: block;
                text-align: center;
                margin: 1rem 0;

                span {
                    color: var(--bg-dark);
                }

                &:hover {
                    span {
                        color: var(--white);
                    }
                }
            }
        }

        &__item {
            margin-top: 1rem;
            gap: .5rem;

            &__img {
                border-radius: 1rem;
                overflow: hidden;

                img {
                    max-width: 4rem;
                }
            }

            &__info {
                flex-grow: 1;

                p {
                    margin-bottom: 0.5rem;
                }

                p,
                span {
                    font-size: 0.9rem;
                    color: var(--Dark-grayish-blue);
                }

                span:last-child {
                    margin-left: 0.5rem;
                }
            }

            &__remove {
                .btn {
                    padding: 0.25rem 0.5rem;
                }
            }
        }

    }

    .empty {
        min-height: 8.5rem;
        display: grid;
        place-content: center;
        color: var(--Dark-grayish-blue);

        p {
            font-size: 1rem;
        }
    }

    .menu {
        padding: .5rem 0 .5rem 1rem;
        border: none;
        background-color: transparent;
        color: var(--white);
        cursor: pointer;

        /* Icon Menu */
        .icon-menu {
            display: flex;
            width: 30px;
            height: 30px;
            z-index: 2;
            cursor: pointer;
            padding: 5px;

            span {
                background-color: var(--white);
                width: 30px;
                height: 3px;
                position: absolute;
                display: flex;
                justify-content: flex-end;
                transition: all 0.2s ease;
                right: 0;
                border-radius: 5px;

                &:before,
                &:after {
                    position: absolute;
                    content: "";
                    width: 100%;
                    height: 100%;
                    background-color: var(--white);
                    border-radius: 5px;
                }

                &:before {
                    transform: translateY(-10px);
                    transition: all 0.3s 0.1s ease;
                }

                &:after {
                    transform: translateY(10px);
                    transition: all 0.3s 0.2s ease;
                }
            }

            &:hover {
                span {
                    width: 30px;

                    &:before {
                        width: 25px;
                    }

                    &:after {
                        width: 20px;
                    }
                }
            }

            /* Icon Close */
            &.icon-closed {
                justify-content: center;

                span {
                    background-color: white;
                    justify-content: center;
                    width: 0px;
                    right: initial;
                    transition: all 0.6s ease;

                    &:before,
                    &:after {
                        width: 30px;
                        background-color: white;
                    }

                    &:before {
                        transform: rotate(45deg);
                    }

                    &:after {
                        transform: rotate(-45deg);
                    }
                }

                &:hover {
                    span {
                        width: 0;
                        opacity: 1;
                    }
                }
            }
        }


        &__list {
            position: fixed;
            top: 0;
            right: -100vw;
            width: 100%;
            height: 100vh;
            background: var(--primary);
            text-align: end;
            transition: right .5s ease-in-out;
            padding-top: 75px;
            z-index: -1;
            overflow-y: scroll;

            .container {
                display: grid;
            }

            a {
                padding: 1rem 0;
            }

            &.show {
                right: 0;
            }
        }
    }
}

@mixin header-767 {
    .header-menu {
        .menu__list {
            width: 25vw;
            min-width: 300px;
            max-width: 500px;

            a {
                span {
                    position: relative;
                    transition: all .3s ease-in-out;

                    &::before {
                        content: '';
                        position: absolute;
                        width: 0%;
                        height: 2px;
                        transform: translate(-50%, 0%);
                        background: #ff7e7c;
                        bottom: -3px;
                        left: 50%;
                        transition: all .3s ease-in-out;
                    }

                }

                &:hover {
                    color: var(--secondary);

                    span::before {
                        width: 100%;
                    }
                }

            }
        }
    }
}