.service {
    span{
        width: 100%;
    }
    svg{
        fill: none;
        stroke: var(--primary);
        stroke-width: 2;
        stroke-dasharray: 100%;
        stroke-dashoffset: 100%;
        font-family: 'Rail', sans-serif;

        text{
            font-size: 5rem;
        }
        #md{display: none;}
    }

    h1 {
        margin: 0;
        max-width: 30ch;
        z-index: 10;
    }

    p {
        margin: 1rem 0;
    }
}

.design-1,
.design-2,
.design-4,
.design-5{
    padding: 1rem 0;

    .flex {
        gap: 1rem;
    }
}

.design-3,
.design-6,
.design-7 {
    h1 {
        margin: 0 auto;
    }

    img {
        margin-top: 2rem;
    }
}

@mixin services-767 {
    .service{
        svg{
            #sm{
                display: none;
            }
            #md{
                display: block;
            }
        }
    }
    .design-1,
    .design-2,
    .design-4 {
        &__content {
            align-items: self-start;
        }
    }

    .design-2,
    .design-5 {
        .container>div {
            flex-direction: row-reverse;
        }
    }

    .design-5 {
        &__content {
            align-items: flex-start;
        }
    }

    .design-6,
    .design-7 {
        .content {
            gap: 2rem;
        }

        &__content {
            flex-grow: 1;
            text-align: left;
        }

        &__img {
            flex-basis: 70%;
        }
    }

    .design-7 {
        .content {
            flex-direction: row-reverse;
        }
    }

}

@mixin services-1023 {
    .service {
        .number {
            position: absolute;
            top: 0;
        }

        h1 {
            font-size: 3.5rem;
        }
    }

    .design-1,
    .design-2,
    .design-4 {

        &__content {
            text-align: left;

            h1 {
                position: absolute;
                top: 7.5rem;
                left: 0;
            }

            p {
                margin-top: 10rem;
            }
        }
    }

    .design-1,
    .design-2,
    .design-4,
    .design-5 {
        &__img {
            position: relative;

            &::after {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: 0;
            }
        }
    }

    .design-2,
    .design-5 {
        .number {
            right: 0;
        }

        &__content {
            h1 {
                left: 44%;
            }

        }

        &__img {
            &::after {
                background: linear-gradient(to left, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
            }
        }

    }

    .design-3 {
        .number {
            position: relative;
        }

        img {
            width: 100%;
            max-height: 60vh;
            object-fit: cover;
            overflow: hidden;
        }
    }

    .design-4,
    .design-5 {
        &__content {
            h1 {
                position: absolute;
                top: 0;
                left: 60%;
                width: 85%;
                transform: translateX(-50%);
            }

        }

        &__img {
            &::after {
                background: linear-gradient(to bottom, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
            }
        }
    }

    .design-6,
    .design-7 {
        .number {
            position: relative;
        }


    }

    .design-1{
        &__img {
            &::after {
                background: linear-gradient(to bottom, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
            }
        }
    }

    .design-5 {
        .container>.flex {
            justify-content: space-between;
        }
    }

}

@mixin services-1439 {
    .service {

        h1 {
            font-size: 5rem;
        }
    }

    .design-1,
    .design-2,
    .design-4 {

        .container>.flex {
            justify-content: space-between;
        }

        &__content {
            h1 {
                top: 8rem;
            }

            p {
                margin-top: 10rem;
            }
        }
    }

    .design-3 {
        p {
            margin: 2rem 0;
        }
    }

    .design-2 {
        &__img {
            &::after {
                background: none;
            }
        }
    }

    .design-2,
    .design-5 {
        &__content {
            align-items: end;
            text-align: end;

            h1 {
                left: 43%;
            }

            p {
                margin-top: 10rem;
            }
        }


    }

    .design-4 {
        &__content {
            h1 {
                top: 0;
            }
        }
    }

}