:root {
  --bg-dark: #050505;
  --white: #fff;
  --primary: rgba(103,58,183,1);
  --secondary: #f75e5e;
}

@font-face {
  font-family: "Telex";
  src: url("/fonts/Telex-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Rail";
  src: url("/fonts/Rail-Regular.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: system-ui, sans-serif;
  background: var(--bg-dark);
  color: var(--white);
  font-family: "Telex", sans-serif;
}

img {
  max-width: 100%;
  display: flex;
}

h1,
h2,
h3,
h4 {
  text-wrap: balance;
  font-family: "Rail", sans-serif;
}

h1 {
  margin: 2rem 0;
}
h1.title {
  margin-top: 6rem;
}
h1 span {
  color: var(--primary);
}

p,
span {
  text-wrap: pretty;
  max-width: 50ch;
}

a {
  text-decoration: none;
  color: var(--white);
}

.text-center,
.text-center-sm {
  text-align: center;
}

.container {
  width: 90%;
  max-width: 1440px;
  margin: 0 auto;
  position: relative;
}

.flex {
  display: flex;
}

.items-center {
  align-items: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.absolute {
  position: absolute;
}

.flex-column,
.flex-column-sm {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.uppercase {
  text-transform: uppercase;
}

.bold {
  font-weight: bold;
}

.btn {
  padding: 1rem 2.5rem;
  border: 1px solid transparent;
  background-color: transparent;
  cursor: pointer;
}
.btn-primary {
  color: var(--white);
  border: 2px solid var(--primary);
  font-weight: bold;
  position: relative;
}
.btn-primary span {
  position: relative;
  z-index: 10;
  transition: color 0.3s ease-in-out;
  font-size: 1.15rem;
}
.btn-primary::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  transition: 0.3s ease-in-out;
  background-color: var(--primary);
}
.btn-primary:hover::after {
  width: 100%;
}

.w-100 {
  width: 100%;
}

section.service {
  padding: 6rem 0;
}

.header-menu {
  position: fixed;
  width: 100vw;
  padding: 0.5rem 0;
  z-index: 999;
}
.header-menu::after {
  content: "";
  position: absolute;
  top: -10px;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: var(--primary);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(12.5px);
  -webkit-backdrop-filter: blur(22.5px);
  border: 1px solid rgba(34, 25, 163, 0.78);
}
.header-menu .logo img {
  max-width: 5rem;
  filter: invert(1);
}
.header-menu .cart {
  cursor: pointer;
  padding-right: 2rem;
}
.header-menu .cart .badge {
  display: inline-block;
  background-color: var(--secondary);
  border-radius: 50%;
  text-align: center;
  padding: 0.15rem 0.5rem;
}

.banner {
  position: relative;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner img {
  position: absolute;
  max-width: 7rem;
}
.banner img:nth-child(2) {
  top: 25%;
  left: 5%;
}
.banner img:nth-child(3) {
  top: 20%;
  right: 0%;
}
.banner img:nth-child(4) {
  bottom: 13%;
  right: 2%;
}
.banner img:nth-child(5) {
  top: 2%;
  left: 15%;
}
.banner img:nth-child(6) {
  bottom: 30%;
  left: 2%;
}
.banner img:nth-child(7) {
  top: 50%;
  right: 5%;
}
.banner img:nth-child(8) {
  bottom: 5%;
  left: 10%;
}
.banner img:nth-child(9) {
  top: 2%;
  left: 50%;
}
.banner__content {
  position: relative;
  z-index: 10;
  text-align: center;
}
.banner__content img {
  position: relative;
  filter: invert(1);
}
.banner__content h1 {
  font-size: 3rem;
}

.service span {
  width: 100%;
}
.service svg {
  fill: none;
  stroke: var(--primary);
  stroke-width: 2;
  stroke-dasharray: 100%;
  stroke-dashoffset: 100%;
  font-family: "Rail", sans-serif;
}
.service svg text {
  font-size: 5rem;
}
.service svg #md {
  display: none;
}
.service h1 {
  margin: 0;
  max-width: 30ch;
  z-index: 10;
}
.service p {
  margin: 1rem 0;
}

.design-1,
.design-2,
.design-4,
.design-5,
.design-8,
.design-9 {
  padding: 1rem 0;
}
.design-1 .flex,
.design-2 .flex,
.design-4 .flex,
.design-5 .flex,
.design-8 .flex,
.design-9 .flex {
  gap: 1rem;
}

.design-3 h1,
.design-6 h1,
.design-7 h1 {
  margin: 0 auto;
}
.design-3 img,
.design-6 img,
.design-7 img {
  margin-top: 2rem;
}

footer {
  padding: 1.5rem 0;
  background-color: var(--primary);
}
footer a {
  color: #ff7e7c;
  position: relative;
}
footer a::before {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  transform: translate(-50%, 0%);
  background: #ff7e7c;
  bottom: -3px;
  left: 50%;
  transition: all 0.3s ease-in-out;
}
footer a:hover::before {
  width: 100%;
}

@keyframes bannerImg {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes toTop {
  from {
    transform: translateY(40px);
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
@keyframes toBottom {
  from {
    transform: translateY(-40px);
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
@keyframes menu {
  from {
    height: 0px;
    top: -10px;
  }
  to {
    height: 100%;
    top: 0;
  }
}
@keyframes textStrokeAnim {
  0% {
    stroke-dasharray: 100%;
    stroke-dashoffset: 100%;
  }
  95% {
    stroke-dasharray: 0%;
    stroke-dashoffset: 90%;
  }
  100% {
    stroke-dasharray: 0%;
    stroke-dashoffset: 0%;
  }
}
@keyframes revealToBottom {
  from {
    height: 100%;
  }
  to {
    height: 0%;
  }
}
.header-menu {
  animation: toBottom 0.5s ease-in-out both;
}
.header-menu::after {
  animation: menu 1s ease-in-out both;
  animation-timeline: scroll(root);
  animation-range: 0 150px;
  animation-fill-mode: both;
}

.banner img {
  animation: bannerImg 2s ease-in-out both;
}
.banner img:nth-child(2) {
  animation-delay: 0.2s;
}
.banner img:nth-child(3) {
  animation-delay: 0.4s;
}
.banner img:nth-child(4) {
  animation-delay: 0.6s;
}
.banner img:nth-child(5) {
  animation-delay: 0.5s;
}
.banner img:nth-child(6) {
  animation-delay: 0.1s;
}
.banner img:nth-child(7) {
  animation-delay: 0.2s;
}
.banner img:nth-child(8) {
  animation-delay: 0.4s;
}
.banner__content {
  animation: toTop 0.5s 1s ease-in-out both;
}
.banner__content img {
  animation: none;
}

.service .number {
  opacity: 0;
}
.service .number.visible {
  opacity: 1;
}
.service .number.visible svg {
  animation: textStrokeAnim 2s linear both;
  animation-iteration-count: 1;
}

.reveal {
  position: relative;
  opacity: 0;
}
.reveal::before {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  background-color: var(--bg-dark);
}
.reveal.visible {
  opacity: 1;
}
.reveal.visible::before {
  opacity: 1;
  animation: revealToBottom 1s linear both;
}

.reveal-to-bottom::before {
  bottom: 0;
}

.reveal-to-top::before {
  top: 0;
}

h1, p, button, .number {
  animation: linear both fadein;
  animation-timeline: view();
  animation-range: entry 20% cover 30%;
  animation-fill-mode: both;
}

@keyframes fadein {
  from {
    opacity: 0;
    scale: 0.75;
  }
  to {
    opacity: 1;
    scale: 1;
  }
}
@media (min-width: 767px) {
  .banner img {
    max-width: 10rem;
  }
  .banner img:nth-child(2) {
    top: 25%;
    left: 5%;
  }
  .banner img:nth-child(3) {
    top: 10%;
    right: 0%;
  }
  .banner img:nth-child(4) {
    bottom: 6%;
    right: 2%;
  }
  .banner img:nth-child(5) {
    top: 10%;
    left: 30%;
  }
  .banner img:nth-child(6) {
    bottom: 20%;
    left: 2%;
  }
  .banner img:nth-child(7) {
    top: 70%;
    left: 55%;
  }
  .banner img:nth-child(8) {
    bottom: 2%;
    left: 20%;
  }
  .banner img:nth-child(9) {
    top: 30%;
    left: 55%;
  }
  .service svg #sm {
    display: none;
  }
  .service svg #md {
    display: block;
  }
  .design-1__content,
  .design-2__content,
  .design-4__content,
  .design-8__content,
  .design-9__content {
    align-items: self-start;
  }
  .design-2 .container > div,
  .design-5 .container > div,
  .design-9 .container > div {
    flex-direction: row-reverse;
  }
  .design-5__content {
    align-items: flex-start;
  }
  .design-6 .content,
  .design-7 .content {
    gap: 2rem;
  }
  .design-6__content,
  .design-7__content {
    flex-grow: 1;
    text-align: left;
  }
  .design-6__img,
  .design-7__img {
    flex-basis: 70%;
  }
  .design-7 .content {
    flex-direction: row-reverse;
  }
  .flex-column-sm {
    flex-direction: row;
  }
  .text-center-sm {
    text-align: start;
  }
}
@media (min-width: 1023px) {
  .banner img {
    max-width: 14rem;
  }
  .banner img:nth-child(2) {
    top: 15%;
    left: 5%;
  }
  .banner img:nth-child(3) {
    top: 10%;
    right: 2%;
  }
  .banner img:nth-child(4) {
    bottom: 3%;
    right: 2%;
  }
  .banner img:nth-child(5) {
    top: 2%;
    left: 25%;
  }
  .banner img:nth-child(6) {
    bottom: 30%;
    left: 2%;
  }
  .banner img:nth-child(7) {
    bottom: 20%;
    left: 50%;
  }
  .banner img:nth-child(8) {
    bottom: 5%;
    left: 20%;
  }
  .banner img:nth-child(9) {
    top: 5%;
    right: 25%;
  }
  .service .number {
    position: absolute;
    top: 0;
  }
  .service h1 {
    font-size: 3.5rem;
  }
  .design-1__content,
  .design-2__content,
  .design-4__content,
  .design-8__content,
  .design-9__content {
    text-align: left;
  }
  .design-1__content h1,
  .design-2__content h1,
  .design-4__content h1,
  .design-8__content h1,
  .design-9__content h1 {
    position: absolute;
    top: 7.5rem;
    left: 0;
  }
  .design-1__content p,
  .design-2__content p,
  .design-4__content p,
  .design-8__content p,
  .design-9__content p {
    margin-top: 10rem;
  }
  .design-1__img,
  .design-2__img,
  .design-4__img,
  .design-5__img,
  .design-8__img,
  .design-9__img {
    position: relative;
  }
  .design-1__img::after,
  .design-2__img::after,
  .design-4__img::after,
  .design-5__img::after,
  .design-8__img::after,
  .design-9__img::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
  }
  .design-2 .number,
  .design-5 .number,
  .design-9 .number {
    right: 0;
  }
  .design-2__content h1,
  .design-5__content h1,
  .design-9__content h1 {
    left: 44%;
  }
  .design-2__img::after,
  .design-5__img::after,
  .design-9__img::after {
    background: linear-gradient(to left, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
  }
  .design-3 .number {
    position: relative;
  }
  .design-3 img {
    width: 100%;
    max-height: 60vh;
    object-fit: cover;
    overflow: hidden;
  }
  .design-4__content h1,
  .design-5__content h1 {
    position: absolute;
    top: 0;
    left: 60%;
    width: 85%;
    transform: translateX(-50%);
  }
  .design-4__img::after,
  .design-5__img::after {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
  }
  .design-6 .number,
  .design-7 .number {
    position: relative;
  }
  .design-1__img::after,
  .design-8__img::after {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
  }
  .design-5 .container > .flex {
    justify-content: space-between;
  }
  h1.title {
    margin-top: 10rem;
    font-size: 3rem;
  }
  p {
    font-size: 1.25rem;
  }
}
@media (min-width: 1439px) {
  .banner img {
    max-width: 18rem;
  }
  .banner img:nth-child(2) {
    top: 15%;
    left: 5%;
  }
  .banner img:nth-child(3) {
    top: 10%;
    right: 1%;
  }
  .banner img:nth-child(4) {
    bottom: 3%;
    right: 2%;
  }
  .banner img:nth-child(5) {
    top: 2%;
    left: 35%;
  }
  .banner img:nth-child(6) {
    bottom: 30%;
    left: 2%;
  }
  .banner img:nth-child(7) {
    bottom: 30%;
    left: 50%;
  }
  .banner img:nth-child(8) {
    bottom: 2%;
    left: 20%;
  }
  .banner img:nth-child(9) {
    top: 10%;
    left: 57%;
  }
  .service h1 {
    font-size: 5rem;
  }
  .design-1 .container > .flex,
  .design-2 .container > .flex,
  .design-4 .container > .flex,
  .design-8 .container > .flex,
  .design-9 .container > .flex {
    justify-content: space-between;
  }
  .design-1__content h1,
  .design-2__content h1,
  .design-4__content h1,
  .design-8__content h1,
  .design-9__content h1 {
    top: 8rem;
  }
  .design-1__content p,
  .design-2__content p,
  .design-4__content p,
  .design-8__content p,
  .design-9__content p {
    margin-top: 10rem;
  }
  .design-3 p {
    margin: 2rem 0;
  }
  .design-2__img::after,
  .design-9__img::after {
    background: none;
  }
  .design-2__content,
  .design-5__content,
  .design-9__content {
    align-items: end;
    text-align: end;
  }
  .design-2__content h1,
  .design-5__content h1,
  .design-9__content h1 {
    left: 43%;
  }
  .design-2__content p,
  .design-5__content p,
  .design-9__content p {
    margin-top: 10rem;
  }
  .design-4__content h1 {
    top: 0;
  }
  h1.title {
    font-size: 5rem;
  }
  p {
    font-size: 1.5rem;
  }
}

/*# sourceMappingURL=main.css.map */
