:root {
  --bg-dark: #050505;
  --white: #fff;
  --primary: rgba(103,58,183,1);
  --secondary: #f75e5e;
}

@font-face {
  font-family: "Telex";
  src: url("/fonts/Telex-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Rail";
  src: url("/fonts/Rail-Regular.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: system-ui, sans-serif;
  background: var(--bg-dark);
  color: var(--white);
  font-family: "Telex", sans-serif;
  scroll-behavior: smooth;
}

img {
  max-width: 100%;
  display: flex;
}

h1,
h2,
h3,
h4 {
  text-wrap: balance;
  font-family: "Rail", sans-serif;
}

h1 {
  margin: 2rem 0;
}
h1.title {
  margin-top: 6rem;
}
h1 span {
  color: var(--primary);
}

p,
span {
  text-wrap: pretty;
  max-width: 50ch;
}

a {
  text-decoration: none;
  color: var(--white);
}

.text-center,
.text-center-sm {
  text-align: center;
}

.container {
  width: 90%;
  max-width: 1440px;
  margin: 0 auto;
  position: relative;
}

.flex {
  display: flex;
}

.items-center {
  align-items: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.flex-column,
.flex-column-sm,
.flex-column-lg {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.uppercase {
  text-transform: uppercase;
}

.bold {
  font-weight: bold;
}

.btn {
  padding: 1rem 2.5rem;
  border: 1px solid transparent;
  background-color: transparent;
  cursor: pointer;
  font-weight: bold;
  position: relative;
}
.btn span {
  position: relative;
  z-index: 10;
  transition: color 0.3s ease-in-out;
  font-size: 1.15rem;
}
.btn::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  transition: 0.3s ease-in-out;
}
.btn:hover::after {
  width: 100%;
}
.btn-primary {
  color: var(--white);
  border: 2px solid var(--primary);
}
.btn-primary::after {
  background-color: var(--primary);
}
.btn-primary.selected::after {
  width: 100%;
}
.btn-primary-outline {
  padding: 0.5rem 1.5rem;
  border: 2px solid var(--white);
  color: var(--white);
}
.btn-primary-outline::after {
  background-color: var(--white);
}
.btn-secondary {
  color: var(--white);
  border: 1px solid var(--secondary);
  display: none;
}
.btn-secondary::after {
  background-color: var(--secondary);
}
.btn-secondary.show {
  display: block;
}

.w-100 {
  width: 100%;
}

section.service {
  padding: 6rem 0;
}

.header-menu {
  position: fixed;
  width: 100vw;
  padding: 0.5rem 0;
  z-index: 999;
}
.header-menu::after {
  content: "";
  position: absolute;
  top: -10px;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: var(--primary);
  backdrop-filter: blur(12.5px);
  -webkit-backdrop-filter: blur(22.5px);
}
.header-menu .logo {
  transition: transform 0.3s ease-in-out;
}
.header-menu .logo img {
  max-width: 5rem;
  filter: invert(1);
}
.header-menu .logo:hover {
  transform: scale(1.05);
}
.header-menu .cart {
  padding-right: 2rem;
}
.header-menu .cart__icon {
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}
.header-menu .cart__icon:hover {
  transform: scale(1.05);
}
.header-menu .cart .badge {
  display: inline-block;
  background-color: var(--secondary);
  border-radius: 50%;
  text-align: center;
  padding: 0.15rem 0.5rem;
}
.header-menu .cart__details {
  width: 90vw;
  max-width: 450px;
  top: 3.5rem;
  right: 0%;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: var(--white);
  color: var(--bg-dark);
  box-shadow: rgba(80, 77, 247, 0.35) 0px 5px 15px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
  z-index: -1;
}
.header-menu .cart__details #list {
  max-height: 50vh;
  overflow-y: auto;
}
.header-menu .cart__details.active {
  visibility: visible;
  opacity: 1;
  top: 4rem;
}
.header-menu .cart__details hr {
  display: block;
  margin: 1rem 0;
  border: none;
  height: 5px;
  box-shadow: rgba(50, 50, 93, 0.1) 0px 2px 5px -1px, rgba(0, 0, 0, 0.1) 0px 1px 3px -1px;
}
.header-menu .cart__details .btn-primary {
  display: block;
  text-align: center;
  margin: 1rem 0;
}
.header-menu .cart__details .btn-primary span {
  color: var(--bg-dark);
}
.header-menu .cart__details .btn-primary:hover span {
  color: var(--white);
}
.header-menu .cart__item {
  margin-top: 1rem;
  gap: 0.5rem;
}
.header-menu .cart__item__img {
  border-radius: 1rem;
  overflow: hidden;
}
.header-menu .cart__item__img img {
  max-width: 4rem;
}
.header-menu .cart__item__info {
  flex-grow: 1;
}
.header-menu .cart__item__info p {
  margin-bottom: 0.5rem;
}
.header-menu .cart__item__info p,
.header-menu .cart__item__info span {
  font-size: 0.9rem;
  color: var(--Dark-grayish-blue);
}
.header-menu .cart__item__info span:last-child {
  margin-left: 0.5rem;
}
.header-menu .cart__item__remove .btn {
  padding: 0.25rem 0.5rem;
}
.header-menu .empty {
  min-height: 8.5rem;
  display: grid;
  place-content: center;
  color: var(--Dark-grayish-blue);
}
.header-menu .empty p {
  font-size: 1rem;
}
.header-menu .menu {
  padding: 0.5rem 0 0.5rem 1rem;
  border: none;
  background-color: transparent;
  color: var(--white);
  cursor: pointer;
  /* Icon Menu */
}
.header-menu .menu .icon-menu {
  display: flex;
  width: 30px;
  height: 30px;
  z-index: 2;
  cursor: pointer;
  padding: 5px;
  /* Icon Close */
}
.header-menu .menu .icon-menu span {
  background-color: var(--white);
  width: 30px;
  height: 3px;
  position: absolute;
  display: flex;
  justify-content: flex-end;
  transition: all 0.2s ease;
  right: 0;
  border-radius: 5px;
}
.header-menu .menu .icon-menu span:before, .header-menu .menu .icon-menu span:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: var(--white);
  border-radius: 5px;
}
.header-menu .menu .icon-menu span:before {
  transform: translateY(-10px);
  transition: all 0.3s 0.1s ease;
}
.header-menu .menu .icon-menu span:after {
  transform: translateY(10px);
  transition: all 0.3s 0.2s ease;
}
.header-menu .menu .icon-menu:hover span {
  width: 30px;
}
.header-menu .menu .icon-menu:hover span:before {
  width: 25px;
}
.header-menu .menu .icon-menu:hover span:after {
  width: 20px;
}
.header-menu .menu .icon-menu.icon-closed {
  justify-content: center;
}
.header-menu .menu .icon-menu.icon-closed span {
  background-color: white;
  justify-content: center;
  width: 0px;
  right: initial;
  transition: all 0.6s ease;
}
.header-menu .menu .icon-menu.icon-closed span:before, .header-menu .menu .icon-menu.icon-closed span:after {
  width: 30px;
  background-color: white;
}
.header-menu .menu .icon-menu.icon-closed span:before {
  transform: rotate(45deg);
}
.header-menu .menu .icon-menu.icon-closed span:after {
  transform: rotate(-45deg);
}
.header-menu .menu .icon-menu.icon-closed:hover span {
  width: 0;
  opacity: 1;
}
.header-menu .menu__list {
  position: fixed;
  top: 0;
  right: -100vw;
  width: 100%;
  height: 100vh;
  background: var(--primary);
  text-align: end;
  transition: right 0.5s ease-in-out;
  padding-top: 75px;
  z-index: -1;
  overflow-y: scroll;
}
.header-menu .menu__list .container {
  display: grid;
}
.header-menu .menu__list a {
  padding: 1rem 0;
}
.header-menu .menu__list.show {
  right: 0;
}

.banner {
  position: relative;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner img {
  position: absolute;
  max-width: 7rem;
}
.banner img:nth-child(2) {
  top: 25%;
  left: 5%;
}
.banner img:nth-child(3) {
  top: 20%;
  right: 0%;
}
.banner img:nth-child(4) {
  bottom: 13%;
  right: 2%;
}
.banner img:nth-child(5) {
  top: 2%;
  left: 15%;
}
.banner img:nth-child(6) {
  bottom: 30%;
  left: 2%;
}
.banner img:nth-child(7) {
  top: 50%;
  right: 5%;
}
.banner img:nth-child(8) {
  bottom: 5%;
  left: 10%;
}
.banner img:nth-child(9) {
  top: 2%;
  left: 50%;
}
.banner__content {
  position: relative;
  z-index: 10;
  text-align: center;
}
.banner__content img {
  position: relative;
  filter: invert(1);
}
.banner__content h1 {
  font-size: 3rem;
}

.service span {
  width: 100%;
}
.service svg {
  fill: none;
  stroke: var(--primary);
  stroke-width: 2;
  stroke-dasharray: 100%;
  stroke-dashoffset: 100%;
  font-family: "Rail", sans-serif;
}
.service svg text {
  font-size: 5rem;
}
.service svg #md {
  display: none;
}
.service h1 {
  margin: 0;
  max-width: 30ch;
  z-index: 10;
}
.service p {
  margin: 1rem 0;
}
.service .buttons {
  gap: 1rem;
}

.design-1,
.design-2,
.design-4,
.design-5 {
  padding: 1rem 0;
}
.design-1 .flex,
.design-2 .flex,
.design-4 .flex,
.design-5 .flex {
  gap: 1rem;
}

.design-3 h1,
.design-6 h1,
.design-7 h1 {
  margin: 0 auto;
}
.design-3 img,
.design-6 img,
.design-7 img {
  margin-top: 2rem;
}

footer {
  padding: 1rem 0;
  background-color: var(--primary);
}
footer a {
  color: #ff7e7c;
  position: relative;
}
footer a::before {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  transform: translate(-50%, 0%);
  background: #ff7e7c;
  bottom: -3px;
  left: 50%;
  transition: all 0.3s ease-in-out;
}
footer a:hover::before {
  width: 100%;
}

@keyframes bannerImg {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes moveImages {
  0% {
    transform: translate(0rem, 0rem);
  }
  25% {
    transform: translate(1rem, 0.5rem);
  }
  50% {
    transform: translate(2rem, 0rem);
  }
  75% {
    transform: translate(1rem, -0.5rem);
  }
  100% {
    transform: translate(0rem, 0rem);
  }
}
@keyframes toTop {
  from {
    transform: translateY(40px);
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
@keyframes toBottom {
  from {
    transform: translateY(-40px);
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
@keyframes menu {
  from {
    height: 0px;
    top: -10px;
  }
  to {
    height: 100%;
    top: 0;
  }
}
@keyframes textStrokeAnim {
  0% {
    stroke-dasharray: 100%;
    stroke-dashoffset: 100%;
  }
  95% {
    stroke-dasharray: 0%;
    stroke-dashoffset: 90%;
  }
  100% {
    stroke-dasharray: 0%;
    stroke-dashoffset: 0%;
  }
}
@keyframes revealToBottom {
  from {
    height: 100%;
  }
  to {
    height: 0%;
  }
}
@keyframes fadein {
  from {
    opacity: 0;
    scale: 0.85;
  }
  to {
    opacity: 1;
    scale: 1;
  }
}
.header-menu {
  animation: toBottom 0.5s ease-in-out both;
}
.header-menu::after {
  animation: menu 1s ease-in-out both;
  animation-timeline: scroll(root);
  animation-range: 0 150px;
  animation-fill-mode: both;
}

.banner img {
  animation: bannerImg 2s ease-in-out both;
}
.banner img:nth-child(2) {
  animation-delay: 0.2s;
}
.banner img:nth-child(3) {
  animation-delay: 0.4s;
}
.banner img:nth-child(4) {
  animation-delay: 0.6s;
}
.banner img:nth-child(5) {
  animation-delay: 0.5s;
}
.banner img:nth-child(6) {
  animation-delay: 0.1s;
}
.banner img:nth-child(7) {
  animation-delay: 0.2s;
}
.banner img:nth-child(8) {
  animation-delay: 0.4s;
}
.banner__content {
  animation: toTop 0.5s 1s ease-in-out both;
}
.banner__content img {
  animation: none;
}

.service .number {
  opacity: 0;
}
.service .number.visible {
  opacity: 1;
}
.service .number.visible svg {
  animation: textStrokeAnim 2s linear both;
  animation-iteration-count: 1;
}

.reveal {
  position: relative;
  opacity: 0;
}
.reveal::before {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  background-color: var(--bg-dark);
}
.reveal.visible {
  opacity: 1;
}
.reveal.visible::before {
  opacity: 1;
  animation: revealToBottom 1s linear both;
}

.reveal-to-bottom::before {
  bottom: 0;
}

.reveal-to-top::before {
  top: 0;
}

h1, p, section button, .number {
  animation: linear both fadein;
  animation-timeline: view();
  animation-range: entry 20% cover 30%;
  animation-fill-mode: both;
}

@media (min-width: 767px) {
  .header-menu .menu__list {
    width: 25vw;
    min-width: 300px;
    max-width: 500px;
  }
  .header-menu .menu__list a span {
    position: relative;
    transition: all 0.3s ease-in-out;
  }
  .header-menu .menu__list a span::before {
    content: "";
    position: absolute;
    width: 0%;
    height: 2px;
    transform: translate(-50%, 0%);
    background: #ff7e7c;
    bottom: -3px;
    left: 50%;
    transition: all 0.3s ease-in-out;
  }
  .header-menu .menu__list a:hover {
    color: var(--secondary);
  }
  .header-menu .menu__list a:hover span::before {
    width: 100%;
  }
  .banner img {
    max-width: 10rem;
  }
  .banner img:nth-child(2) {
    top: 25%;
    left: 5%;
  }
  .banner img:nth-child(3) {
    top: 10%;
    right: 0%;
  }
  .banner img:nth-child(4) {
    bottom: 6%;
    right: 2%;
  }
  .banner img:nth-child(5) {
    top: 10%;
    left: 30%;
  }
  .banner img:nth-child(6) {
    bottom: 20%;
    left: 2%;
  }
  .banner img:nth-child(7) {
    top: 70%;
    left: 55%;
  }
  .banner img:nth-child(8) {
    bottom: 2%;
    left: 20%;
  }
  .banner img:nth-child(9) {
    top: 30%;
    left: 55%;
  }
  .service svg #sm {
    display: none;
  }
  .service svg #md {
    display: block;
  }
  .design-1__content,
  .design-2__content,
  .design-4__content {
    align-items: self-start;
  }
  .design-2 .container > div,
  .design-5 .container > div {
    flex-direction: row-reverse;
  }
  .design-2 .buttons,
  .design-5 .buttons {
    flex-direction: row-reverse;
  }
  .design-5__content {
    align-items: flex-start;
  }
  .design-6 .content,
  .design-7 .content {
    gap: 2rem;
  }
  .design-6__content,
  .design-7__content {
    flex-grow: 1;
    text-align: left;
  }
  .design-6__img,
  .design-7__img {
    flex-basis: 70%;
  }
  .design-7 .content {
    flex-direction: row-reverse;
  }
  .flex-column-sm {
    flex-direction: row;
  }
  .text-center-sm {
    text-align: start;
  }
}
@media (min-width: 1023px) {
  .banner img {
    max-width: 14rem;
  }
  .banner img:nth-child(2) {
    top: 15%;
    left: 5%;
  }
  .banner img:nth-child(3) {
    top: 10%;
    right: 2%;
  }
  .banner img:nth-child(4) {
    bottom: 3%;
    right: 2%;
  }
  .banner img:nth-child(5) {
    top: 2%;
    left: 25%;
  }
  .banner img:nth-child(6) {
    bottom: 30%;
    left: 2%;
  }
  .banner img:nth-child(7) {
    bottom: 20%;
    left: 50%;
  }
  .banner img:nth-child(8) {
    bottom: 5%;
    left: 20%;
  }
  .banner img:nth-child(9) {
    top: 5%;
    right: 25%;
  }
  .service .number {
    position: absolute;
    top: 0;
  }
  .service h1 {
    font-size: 3.5rem;
  }
  .design-1__content,
  .design-2__content,
  .design-4__content {
    text-align: left;
  }
  .design-1__content h1,
  .design-2__content h1,
  .design-4__content h1 {
    position: absolute;
    top: 7.5rem;
    left: 0;
  }
  .design-1__content p,
  .design-2__content p,
  .design-4__content p {
    margin-top: 10rem;
  }
  .design-1__img,
  .design-2__img,
  .design-4__img,
  .design-5__img {
    position: relative;
  }
  .design-1__img::after,
  .design-2__img::after,
  .design-4__img::after,
  .design-5__img::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
  }
  .design-2 .number,
  .design-5 .number {
    right: 0;
  }
  .design-2__content h1,
  .design-5__content h1 {
    left: 44%;
  }
  .design-2__img::after,
  .design-5__img::after {
    background: linear-gradient(to left, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
  }
  .design-3 .number {
    position: relative;
  }
  .design-3 img {
    width: 100%;
    max-height: 60vh;
    object-fit: cover;
    overflow: hidden;
  }
  .design-4__content h1,
  .design-5__content h1 {
    position: absolute;
    top: 0;
    left: 60%;
    width: 85%;
    transform: translateX(-50%);
  }
  .design-4__img::after,
  .design-5__img::after {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
  }
  .design-6 .number,
  .design-7 .number {
    position: relative;
  }
  .design-1__img::after {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
  }
  .design-5 .container > .flex {
    justify-content: space-between;
  }
  .flex-column-lg {
    flex-direction: row;
  }
  h1.title {
    margin-top: 10rem;
    font-size: 3rem;
  }
  p {
    font-size: 1.25rem;
  }
}
@media (min-width: 1439px) {
  .banner img {
    max-width: 18rem;
  }
  .banner img:nth-child(2) {
    top: 15%;
    left: 5%;
  }
  .banner img:nth-child(3) {
    top: 10%;
    right: 1%;
  }
  .banner img:nth-child(4) {
    bottom: 3%;
    right: 2%;
  }
  .banner img:nth-child(5) {
    top: 2%;
    left: 35%;
  }
  .banner img:nth-child(6) {
    bottom: 30%;
    left: 2%;
  }
  .banner img:nth-child(7) {
    bottom: 30%;
    left: 50%;
  }
  .banner img:nth-child(8) {
    bottom: 2%;
    left: 20%;
  }
  .banner img:nth-child(9) {
    top: 10%;
    left: 57%;
  }
  .service h1 {
    font-size: 5rem;
  }
  .design-1 .container > .flex,
  .design-2 .container > .flex,
  .design-4 .container > .flex {
    justify-content: space-between;
  }
  .design-1__content h1,
  .design-2__content h1,
  .design-4__content h1 {
    top: 8rem;
  }
  .design-1__content p,
  .design-2__content p,
  .design-4__content p {
    margin-top: 10rem;
  }
  .design-3 p {
    margin: 2rem 0;
  }
  .design-2__img::after {
    background: none;
  }
  .design-2__content,
  .design-5__content {
    align-items: end;
    text-align: end;
  }
  .design-2__content h1,
  .design-5__content h1 {
    left: 43%;
  }
  .design-2__content p,
  .design-5__content p {
    margin-top: 10rem;
  }
  .design-4__content h1 {
    top: 0;
  }
  h1.title {
    font-size: 5rem;
  }
  p {
    font-size: 1.5rem;
  }
}

/*# sourceMappingURL=main.css.map */
