:root {
  --bg-dark: #050505;
  --white: #fff;
  --primary: #f75e5e;
  --primary-accent: #f84747;
}

@font-face {
  font-family: "Telex";
  src: url("/fonts/Telex-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Rail";
  src: url("/fonts/Rail-Regular.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: system-ui, sans-serif;
  background: var(--bg-dark);
  color: var(--white);
  font-family: "Telex", sans-serif;
}

img {
  max-width: 100%;
  display: flex;
}

h1,
h2,
h3,
h4 {
  text-wrap: balance;
  font-family: "Rail", sans-serif;
}

h1 {
  margin: 2rem 0;
}
h1.title {
  margin-top: 6rem;
}

p,
span {
  text-wrap: pretty;
  max-width: 50ch;
}

a {
  text-decoration: none;
  color: var(--white);
}

.text-center,
.text-center-sm {
  text-align: center;
}

.container {
  width: 90%;
  max-width: 1440px;
  margin: 0 auto;
  position: relative;
}

.flex {
  display: flex;
}

.items-center {
  align-items: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.absolute {
  position: absolute;
}

.flex-column,
.flex-column-sm {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.uppercase {
  text-transform: uppercase;
}

.bold {
  font-weight: bold;
}

.btn {
  padding: 1rem 2.5rem;
  border: 1px solid transparent;
  background-color: transparent;
  cursor: pointer;
}
.btn-primary {
  color: var(--white);
  border: 2px solid var(--white);
  font-weight: bold;
  position: relative;
}
.btn-primary span {
  position: relative;
  z-index: 10;
  transition: color 0.3s ease-in-out;
}
.btn-primary::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  transition: 0.3s ease-in-out;
  background-color: var(--white);
}
.btn-primary:hover span {
  color: var(--bg-dark);
}
.btn-primary:hover::after {
  width: 100%;
}

section.service {
  padding: 6rem 0;
}

@media (width > 767px) {
  .flex-column-sm {
    flex-direction: row;
  }
  .text-center-sm {
    text-align: start;
  }
}
@media (width > 1023px) {
  h1.title {
    margin-top: 10rem;
    font-size: 3rem;
  }
}
@media (width > 1439px) {
  h1.title {
    font-size: 5rem;
  }
}
.header-menu {
  position: fixed;
  width: 100vw;
  padding: 0.5rem 0;
  z-index: 999;
  animation: toBottom 0.5s ease-in-out both;
}
.header-menu::after {
  content: "";
  position: absolute;
  top: -10px;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: rgba(62, 19, 180, 0.85);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(12.5px);
  -webkit-backdrop-filter: blur(22.5px);
  border: 1px solid rgba(34, 25, 163, 0.78);
  animation: menu 1s ease-in-out both;
  animation-timeline: scroll(root);
  animation-range: 0 150px;
  animation-fill-mode: both;
}
.header-menu .logo img {
  max-width: 5rem;
  filter: invert(1);
}
.header-menu .cart {
  cursor: pointer;
  padding-right: 2rem;
}
.header-menu .cart .badge {
  display: inline-block;
  background-color: var(--primary);
  border-radius: 50%;
  text-align: center;
  padding: 0.15rem 0.5rem;
}

.banner {
  position: relative;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner img {
  position: absolute;
  max-width: 7rem;
  animation: bannerImg 2s ease-in-out both;
}
.banner img:nth-child(2) {
  top: 25%;
  left: 5%;
  animation-delay: 0.2s;
}
.banner img:nth-child(3) {
  top: 20%;
  right: 0%;
  animation-delay: 0.4s;
}
.banner img:nth-child(4) {
  bottom: 13%;
  right: 2%;
  animation-delay: 0.6s;
}
.banner img:nth-child(5) {
  top: 2%;
  left: 15%;
  animation-delay: 0.5s;
}
.banner img:nth-child(6) {
  bottom: 30%;
  left: 2%;
  animation-delay: 0.1s;
}
.banner img:nth-child(7) {
  top: 50%;
  right: 5%;
  animation-delay: 0.2s;
}
.banner img:nth-child(8) {
  bottom: 5%;
  left: 10%;
  animation-delay: 0.4s;
}
.banner img:nth-child(9) {
  top: 2%;
  left: 50%;
}
.banner__content {
  position: relative;
  z-index: 10;
  text-align: center;
  animation: toTop 0.5s 1s ease-in-out both;
}
.banner__content img {
  position: relative;
  filter: invert(1);
  animation: none;
}
.banner__content h1 {
  font-size: 3rem;
}

@media (min-width: 767px) {
  .banner img {
    max-width: 10rem;
  }
  .banner img:nth-child(2) {
    top: 25%;
    left: 5%;
  }
  .banner img:nth-child(3) {
    top: 10%;
    right: 0%;
  }
  .banner img:nth-child(4) {
    bottom: 6%;
    right: 2%;
  }
  .banner img:nth-child(5) {
    top: 10%;
    left: 30%;
  }
  .banner img:nth-child(6) {
    bottom: 20%;
    left: 2%;
  }
  .banner img:nth-child(7) {
    top: 70%;
    left: 55%;
  }
  .banner img:nth-child(8) {
    bottom: 2%;
    left: 20%;
  }
  .banner img:nth-child(9) {
    top: 30%;
    left: 55%;
  }
}
@media (min-width: 1023px) {
  .banner img {
    max-width: 14rem;
  }
  .banner img:nth-child(2) {
    top: 15%;
    left: 5%;
  }
  .banner img:nth-child(3) {
    top: 10%;
    right: 2%;
  }
  .banner img:nth-child(4) {
    bottom: 3%;
    right: 2%;
  }
  .banner img:nth-child(5) {
    top: 2%;
    left: 25%;
  }
  .banner img:nth-child(6) {
    bottom: 30%;
    left: 2%;
  }
  .banner img:nth-child(7) {
    bottom: 20%;
    left: 50%;
  }
  .banner img:nth-child(8) {
    bottom: 5%;
    left: 20%;
  }
  .banner img:nth-child(9) {
    top: 5%;
    right: 25%;
  }
}
@media (min-width: 1439px) {
  .banner img {
    max-width: 18rem;
  }
  .banner img:nth-child(2) {
    top: 15%;
    left: 5%;
  }
  .banner img:nth-child(3) {
    top: 10%;
    right: 1%;
  }
  .banner img:nth-child(4) {
    bottom: 3%;
    right: 2%;
  }
  .banner img:nth-child(5) {
    top: 2%;
    left: 35%;
  }
  .banner img:nth-child(6) {
    bottom: 30%;
    left: 2%;
  }
  .banner img:nth-child(7) {
    bottom: 30%;
    left: 50%;
  }
  .banner img:nth-child(8) {
    bottom: 2%;
    left: 20%;
  }
  .banner img:nth-child(9) {
    top: 10%;
    left: 57%;
  }
}
.acrilicas {
  padding: 1rem 0;
}
.acrilicas .flex {
  gap: 1rem;
}
.acrilicas .number {
  font-size: 5rem;
  font-family: "Rail", sans-serif;
  -webkit-text-stroke: 3px var(--white);
  -webkit-text-fill-color: transparent;
}
.acrilicas__content h1 {
  margin: 0;
  max-width: 30ch;
}
.acrilicas__content p {
  margin: 1rem 0;
}

@media (width > 767px) {
  .acrilicas__content {
    align-items: self-start;
  }
}
@media (width > 1023px) {
  .acrilicas .number {
    position: absolute;
    top: 0;
  }
  .acrilicas__content h1 {
    position: absolute;
    font-size: 3.5rem;
    top: 8rem;
  }
}
@media (width > 1439px) {
  .acrilicas .number {
    font-size: 7rem;
  }
  .acrilicas .container > .justify-center {
    justify-content: space-between;
  }
  .acrilicas__content h1 {
    font-size: 5rem;
    top: 10rem;
  }
  .acrilicas__content p {
    margin-top: 10rem;
  }
}
@keyframes bannerImg {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes toTop {
  from {
    transform: translateY(40px);
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
@keyframes toBottom {
  from {
    transform: translateY(-40px);
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
@keyframes menu {
  from {
    height: 0px;
    top: -10px;
  }
  to {
    height: 100%;
    top: 0;
  }
}

/*# sourceMappingURL=main.css.map */
