---
import Banner from "../components/Banner.astro";
import Header from "../components/Header.astro";
import AcrylicNails from "../components/AcrylicNails.astro";
import Layout from "../layouts/Layout.astro";
import GelX from "../components/GelX.astro";
import SemipermanentNailPolish from "../components/SemipermanentNailPolish.astro";
import GelXRemoval from "../components/GelXRemoval.astro";
---

<Layout title="Rubí Store | Inicio">
	<main>
		<Header />
		<Banner />
		<main>
			<h1 class="title text-center">Descubre Nuestros Servicios de Belleza</h1>
			<AcrylicNails />
			<GelX />
			<SemipermanentNailPolish />
			<GelXRemoval/>
		</main>
		<div style="height:2000px"></div>
	</main>
</Layout>
