---
import Banner from "../components/Banner.astro";
import Header from "../components/Header.astro";
import AcrylicNails from "../components/AcrylicNails.astro";
import Layout from "../layouts/Layout.astro";
import GelX from "../components/GelX.astro";
import SemipermanentNailPolish from "../components/SemipermanentNailPolish.astro";
import GelXRemoval from "../components/GelXRemoval.astro";
import Pedicure from "../components/Pedicure.astro";
import SpaPedicure from "../components/SpaPedicure.astro";
import ClinicPedicure from "../components/ClinicPedicure.astro";
import Acripie from "../components/Acripie.astro";
import EyelashExtensions from "../components/EyelashExtensions.astro";
import LiftingBotox from "../components/LiftingBotox.astro";
import EyebrowWaxing from "../components/EyebrowWaxing.astro";
import EyebrowDesign from "../components/EyebrowDesign.astro";
import Straightening from "../components/Straightening.astro";
import RelaxingMassages from "../components/RelaxingMassages.astro";
---

<Layout title="Rubí Store | Inicio">
		<Header />
		<Banner />
		<main>
			<h1 class="title text-center">Descubre Nuestros Servicios de Belleza</h1>
			<AcrylicNails />
			<GelX />
			<SemipermanentNailPolish />
			<GelXRemoval/>
			<Pedicure/>
			<SpaPedicure/>
			<ClinicPedicure/>
			<Acripie/>
			<EyelashExtensions/>
			<LiftingBotox/>
			<EyebrowWaxing/>
			<EyebrowDesign/>
			<Straightening/>
			<RelaxingMassages/>
		</main>
		<footer>
			<div class="container">
				<div class="flex flex-column-sm  items-center justify-between">
					<small>&copy;Copyright. Todos los derechos reservados.</small>
					<small>Diseñado y desarrollado por <a href="https://www.mrubi.dev/" target="_blank">Marcos Rubí</a> </small>
				</div>
			</div>
		</footer>
</Layout>
