<section class="service design-8">
    <div class="container">
        <div class="flex items-center flex-column-sm">
            <div
                class="design-8__content flex flex-column items-center text-center-sm"
            >
                <span class="number">08</span>
                <h1>Acripie: Renueva tus Uñas con Cuidado Profesional</h1>
                <p>
                    Transforma tus uñas con nuestro servicio de acripe. Desde
                    exfoliación hasta hidratación intensiva, mimamos tus uñas
                    para que luzcan suaves, jóvenes y radiantes.
                </p>
                <button class="btn btn-primary"
                    ><span>Agregar servicio</span>
                </button>
            </div>
            <div class="design-8__img">
                <img
                    src="/images/services/acripie.png"
                    alt="Foto de uñas acrílicas"
                />
            </div>
        </div>
    </div>
</section>
