<section class="service acrylic-nails">
    <div class="container">
        <div class="flex justify-center items-center flex-column-sm">
            <div class="acrylic-nails__content flex flex-column items-center text-center-sm">
                <span class="number">01</span>
                <h1>Uñas Acrílicas: Diseños Impresionantes para Tus Manos</h1>
                <p>
                    Descubre nuestra gama de servicios de uñas acrílicas, desde
                    clásicos elegantes hasta diseños únicos y vanguardistas.
                    ¡Resalta tu estilo con nuestras técnicas de última
                    generación!
                </p>
                <button class="btn btn-primary"
                    ><span>Agregar servicio</span>
                </button>
            </div>
            <div class="acrylic-nails__img">
                <img
                    src="/images/services/acrilicas.png"
                    alt="Foto de uñas acrílicas"
                />
            </div>
        </div>
    </div>
</section>
