<section class="banner">
    <div class="banner__content flex flex-column items-center">
        <img src="/images/logo.png" alt="Logo de Rubí Beauty Salon" />
        <span class="uppercase">Beauty Studio</span>
    </div>
    <img
        src="/images/banner/1.webp"
        loading="eager"
        decoding="async"
        data-speed="2"
        class="layer"
        aria-hidden="true"
        alt="Imagen de servicios ofrecidos por Rubi Store"
    />
    <img
        src="/images/banner/2.webp"
        loading="eager"
        decoding="async"
        data-speed="1"
        class="layer"
        aria-hidden="true"
        alt="Imagen de servicios ofrecidos por Rubi Store"
    />
    <img
        src="/images/banner/3.webp"
        loading="eager"
        decoding="async"
        data-speed="3"
        class="layer"
        aria-hidden="true"
        alt="Imagen de servicios ofrecidos por Rubi Store"
    />
    <img
        src="/images/banner/4.webp"
        loading="eager"
        decoding="async"
        data-speed="2"
        class="layer"
        aria-hidden="true"
        alt="Imagen de servicios ofrecidos por Rubi Store"
    />
    <img
        src="/images/banner/5.webp"
        loading="eager"
        decoding="async"
        data-speed="-3"
        class="layer"
        aria-hidden="true"
        alt="Imagen de servicios ofrecidos por Rubi Store"
    />
    <img
        src="/images/banner/6.webp"
        loading="eager"
        decoding="async"
        data-speed="-2"
        class="layer"
        aria-hidden="true"
        alt="Imagen de servicios ofrecidos por Rubi Store"
    />
    <img
        src="/images/banner/7.webp"
        loading="eager"
        decoding="async"
        data-speed="1"
        class="layer"
        aria-hidden="true"
        alt="Imagen de servicios ofrecidos por Rubi Store"
    />
    <img
        src="/images/banner/8.webp"
        loading="eager"
        decoding="async"
        data-speed="-1"
        class="layer"
        aria-hidden="true"
        alt="Imagen de servicios ofrecidos por Rubi Store"
    />
</section>
