<section class="service clinic-pedicure">
    <div class="container flex flex-column items-center text-center">
        <span class="number">07</span>
        <h1>
            Pedicure Clínico: Atención Especializada para Problemas de Pies
        </h1>
        <div class=" content flex flex-column-sm items-center">
            <div class="clinic-pedicure__content">
                <p>
                    Nuestro pedicure clínico está diseñado para abordar problemas específicos de tus pies, como callosidades, uñas encarnadas o sequedad extrema. Confía en nuestro equipo para proporcionarte alivio y soluciones efectivas.
                </p>
                <button class="btn btn-primary"
                    ><span>Agregar servicio</span>
                </button>
            </div>
            <div class="clinic-pedicure__img">
                <img
                    src="/images/services/clinic-pedicure.png"
                    alt="Foto de una mano agregando esmalte"
                />
            </div>
        </div>
    </div>
</section>
