<section class="service design-4">
    <div class="container">
        <div class="flex items-center flex-column-sm">
            <div class="design-4__content flex flex-column items-center text-center-sm">
                <span class="number"
                    ><svg class="text-stroke" viewBox="0 0 500 100">
                        <text
                            x="50%"
                            y="50%"
                            id="sm"
                            text-anchor="middle"
                            dominant-baseline="middle">11</text
                        >
                        <text
                            x="10%"
                            y="50%"
                            id="md"
                            text-anchor="middle"
                            dominant-baseline="middle">11</text
                        >
                    </svg></span
                >
                <h1><span>Depilación de Cejas:</span> Define tu Mirada con Precisión</h1>
                <p>
                    Dale forma a tus cejas con nuestra depilación especializada. Nuestros profesionales resaltan tus rasgos naturales con técnicas precisas y resultados impecables.
                </p>
                <button class="btn btn-primary"
                    ><span>Agregar servicio</span>
                </button>
            </div>
            <div class="design-4__img reveal reveal-to-bottom ">
                <img
                    src="/images/services/eyebrowWaxing.png"
                    alt="Foto de uñas acrílicas"
                />
            </div>
        </div>
    </div>
</section>
