<section class="service design-9 ">
    <div class="container">
        <div class="flex justify-center items-center flex-column-sm">
            <div class="design-9__content flex flex-column items-center text-center-sm">
                <span class="number"
                    ><svg class="text-stroke" viewBox="0 0 500 100">
                        <text
                            x="50%"
                            y="50%"
                            id="sm"
                            text-anchor="middle"
                            dominant-baseline="middle">09</text
                        >
                        <text
                            x="90%"
                            y="50%"
                            id="md"
                            text-anchor="middle"
                            dominant-baseline="middle">09</text
                        >
                    </svg></span
                >
                <h1><span>Ext. Pestañas:</span> Mirada Impactante</h1>
                <p>
                    Resalta tus ojos con nuestras extensiones de pestañas. Ya sea que busques un aspecto natural o glamoroso, nuestras extensiones personalizadas te brindarán una mirada impactante y duradera.
                </p>
                <button class="btn btn-primary"
                    ><span>Agregar servicio</span>
                </button>
            </div>
            <div class="design-9__img reveal reveal-to-bottom">
                <img
                    src="/images/services/eyelash-extensions.png"
                    alt="Foto de uñas acrílicas"
                />
            </div>
        </div>
    </div>
</section>
