<section class="service design-2">
    <div class="container">
        <div class="flex justify-center items-center flex-column-sm">
            <div class="design-2__content flex flex-column items-center text-center-sm">
                <span class="number"
                    ><svg class="text-stroke" viewBox="0 0 500 100">
                        <text x="50%" y="50%" id="sm" text-anchor="middle" dominant-baseline="middle">02</text>
                        <text x="90%" y="50%" id="md" text-anchor="middle" dominant-baseline="middle">02</text>
                    </svg></span
                >
                <h1><span>GelX:</span> Durabilidad y Brillo para Tus Uñas</h1>
                <p>
                    Con nuestro servicio de GelX, obtén unas uñas impecables con una durabilidad excepcional y un brillo deslumbrante. Experimenta la diferencia con nuestra técnica especializada.
                </p>
                <button class="btn btn-primary"
                    ><span>Agregar servicio</span>
                </button>
            </div>
            <div class="design-2__img">
                <img
                    src="/images/services/gelx.png"
                    alt="Foto de uñas acrílicas"
                />
            </div>
        </div>
    </div>
</section>
