<section class="service design-2">
    <div class="container">
        <div class="flex justify-center items-center flex-column-sm">
            <div class="design-2__content flex flex-column items-center text-center-sm">
                <span class="number">02</span>
                <h1>GelX: Durabilidad y Brillo para Tus Uñas</h1>
                <p>
                    Con nuestro servicio de GelX, obtén unas uñas impecables con una durabilidad excepcional y un brillo deslumbrante. Experimenta la diferencia con nuestra técnica especializada.
                </p>
                <button class="btn btn-primary"
                    ><span>Agregar servicio</span>
                </button>
            </div>
            <div class="design-2__img">
                <img
                    src="/images/services/gelx.png"
                    alt="Foto de uñas acrílicas"
                />
            </div>
        </div>
    </div>
</section>
