<section class="service gel-x-removal">
    <div class="container">
        <div class="flex justify-center items-center flex-column-sm">
            <div class="gel-x-removal__content flex flex-column items-center text-center-sm">
                <span class="number">04</span>
                <h1>Retiro Profesional de Acrílico y GelX: Cuida tus Uñas</h1>
                <p>
                    Confía en nuestro equipo para eliminar suavemente el acrílico o GelX sin dañar tus uñas naturales. Deja que nuestros expertos cuiden de ti durante todo el proceso.
                </p>
                <button class="btn btn-primary"
                    ><span>Agregar servicio</span>
                </button>
            </div>
            <div class="gel-x-removal__img">
                <img
                    src="/images/services/gelx-removal.png"
                    alt="Foto de uñas acrílicas"
                />
            </div>
        </div>
    </div>
</section>
