<header class="header-menu">
    <div class="container">
        <div class="flex justify-between items-center flex-wrap">
            <a href="#" class="logo">
                <img src="/images/logo.png" alt="Logo de Rubí Store" />
            </a>
            <div class="flex items-center">
                <div class="cart">
                    <svg fill="none" height="40" viewBox="0 0 50 56" width="24">
                        <clipPath id="a"
                            ><path d="m0 0h50v56h-50z"></path></clipPath
                        ><g clip-path="url(#a)"
                            ><path
                                d="m25.0001 0c-5 0-9 3.59-9 8v6h-9.00003c-.49597-.0027-.97528.1789-1.34486.5097s-.60307.7871-.65514 1.2803l-4 38c-.029535.2797.00026.5626.08746.83.08719.2674.22982.5135.41857.722.18875.2086.41937.375.6768.4884s.53588.1712.81717.1696h44.00003c.2813.0016.5597-.0562.8171-.1696.2575-.1134.4881-.2798.6768-.4884.1888-.2085.3314-.4546.4186-.722s.117-.5503.0875-.83l-4-38c-.0521-.4932-.2856-.9495-.6552-1.2803-.3695-.3308-.8489-.5124-1.3448-.5097h-9v-6c0-4.41-4-8-9-8zm-5 8c0-2.21 2.24-4 5-4s5 1.79 5 4v6h-10zm21.2 10 3.58 34h-39.56003l3.58-34h7.20003v4c0 .5304.2107 1.0391.5858 1.4142.375.3751.8837.5858 1.4142.5858.5304 0 1.0391-.2107 1.4142-.5858s.5858-.8838.5858-1.4142v-4h10v4c0 .5304.2107 1.0391.5858 1.4142.375.3751.8837.5858 1.4142.5858.5304 0 1.0391-.2107 1.4142-.5858s.5858-.8838.5858-1.4142v-4z"
                                fill="currentColor"></path></g
                        >
                    </svg>
                    <span
                        class="badge absolute flex items-center justify-center"
                        ><span id="cartCount"></span>
                    </span>
                    <div class="cart__items absolute top-0 left-0"></div>
                </div>
                <button class="menu">
                    <i class="icon-menu relative flex items-center"
                        ><span></span></i
                    >
                </button>
                <ul class="menu__list">
                    <div class="container">
                        <a href="#uñas-acrilicas"> <span>Uñas Acrílicas</span> </a>
                        <a href="#gelx"> <span>GelX</span></a>
                        <a href="#esmaltado-semipermanente"
                            > <span>Esmaltado Semipermanente</span></a
                        >
                        <a href="#retiro-acrilico-gelx"
                            > <span>Retiro de Acrílico y GelX</span></a
                        >
                        <a href="#pedicure-tradicional"> <span>Pedicure Tradicional</span></a>
                        <a href="#pedicure-spa"> <span>Pedicure Spa</span></a>
                        <a href="#pedicure-clinico"> <span>Pedicure Clínico</span></a>
                        <a href="#acripie"> <span>Acripie</span></a>
                        <a href="#estension-pestañas"> <span>Extensión de Pestañas</span></a>
                        <a href="#lifting-botox"> <span>Liftinh + Botox</span></a>
                        <a href="#depilacion-cejas"> <span>Depilación de Cejas</span></a>
                        <a href="#diseño-cejas"> <span>Diseño de Cejas</span></a>
                        <a href="#alisados"> <span>Alisados</span></a>
                        <a href="#masajes-relajantes"> <span>Masajes Relajantes</span></a>
                    </div>
                </ul>
            </div>
        </div>
    </div>
</header>
