<section class="service pedicure">
    <div class="container">
        <div class="flex justify-center items-center flex-column-sm">
            <div class="pedicure__content flex flex-column items-center text-center-sm">
                <span class="number">05</span>
                <h1>Pedicure Tradicional: Cuidado Clásico para tus Pies</h1>
                <p>
                    Relájate y renueva tus pies con nuestro pedicure tradicional. Sumérgete en un ambiente de tranquilidad mientras nuestros profesionales se encargan de embellecer y mimar tus pies.
                </p>
                <button class="btn btn-primary"
                    ><span>Agregar servicio</span>
                </button>
            </div>
            <div class="pedicure__img">
                <img
                    src="/images/services/pedicure.png"
                    alt="Foto de uñas acrílicas"
                />
            </div>
        </div>
    </div>
</section>
