<section class="service semipermant-nail-polish">
    <div class="container flex flex-column items-center text-center">
        <span class="number">03</span>
        <h1 >
            Esmaltado Semipermanente: Color Intenso, Duración Prolongada
        </h1>
        <p>
            Dile adiós al esmalte que se desconcha rápidamente. Con nuestro
            esmaltado semipermanente, disfruta de colores vibrantes que
            permanecen impecables durante semanas. ¡Luce unas uñas impecables
            por más tiempo!
        </p>
        <button class="btn btn-primary"><span>Agregar servicio</span> </button>
        <img src="/images/services/esmalte.png" alt="Foto de una mano agregando esmalte">
    </div>
</section>
