<section class="service design-3">
    <div class="container flex flex-column items-center text-center">
        <span class="number"
            ><svg class="text-stroke" viewBox="0 0 500 100">
                <text
                    x="50%"
                    y="50%"
                    id="sm"
                    text-anchor="middle"
                    dominant-baseline="middle">03</text
                >
                <text
                    x="50%"
                    y="50%"
                    id="md"
                    text-anchor="middle"
                    dominant-baseline="middle">03</text
                >
            </svg></span
        >
        <h1>
            <span>Esmaltado Semipermanente:</span> Color Intenso, Duración Prolongada
        </h1>
        <p>
            Dile adiós al esmalte que se desconcha rápidamente. Con nuestro
            esmaltado semipermanente, disfruta de colores vibrantes que
            permanecen impecables durante semanas. ¡Luce unas uñas impecables
            por más tiempo!
        </p>
        <button class="btn btn-primary"><span>Agregar servicio</span> </button>
        <div class="w-100 reveal reveal-to-bottom">
            <img
            src="/images/services/esmalte.png"
            alt="Foto de una mano agregando esmalte"
            />
        </div>
    </div>
</section>
