<section class="service design-6">
    <div class="container flex flex-column items-center text-center">
        <span class="number"
                    ><svg class="text-stroke" viewBox="0 0 500 100">
                        <text
                            x="50%"
                            y="50%"
                            id="sm"
                            text-anchor="middle"
                            dominant-baseline="middle">06</text
                        >
                        <text
                            x="50%"
                            y="50%"
                            id="md"
                            text-anchor="middle"
                            dominant-baseline="middle">06</text
                        >
                    </svg></span
                >
        <h1>
            <span>Pedicure Spa:</span> Experiencia de Relajación Total para tus Pies
        </h1>
        <div class=" content flex flex-column-sm items-center">
            <div class="design-6__content">
                <p>
                    Permítenos llevar tu pedicure a un nivel superior con
                    nuestro servicio de pedicure spa. Disfruta de un tratamiento
                    completo que incluye exfoliación, mascarilla hidratante y
                    masaje relajante para tus pies cansados.
                </p>
                <button class="btn btn-primary"
                    ><span>Agregar servicio</span>
                </button>
            </div>
            <div class="design-6__img reveal reveal-to-top">
                <img
                    src="/images/services/spa-pedicure.png"
                    alt="Foto de una mano agregando esmalte"
                />
            </div>
        </div>
    </div>
</section>
