<section class="service design-6">
    <div class="container flex flex-column items-center text-center">
        <span class="number"
        ><svg class="text-stroke" viewBox="0 0 500 100">
            <text
                x="50%"
                y="50%"
                id="sm"
                text-anchor="middle"
                dominant-baseline="middle">13</text
            >
            <text
                x="50%"
                y="50%"
                id="md"
                text-anchor="middle"
                dominant-baseline="middle">13</text
            >
        </svg></span
    >
        <h1>
            Alisados: Cabello Liso y Sedoso en un Instante
        </h1>
        <div class=" content flex flex-column-sm items-center">
            <div class="design-6__content">
                <p>
                    Transforma tu cabello rebelde en una melena lisa y sedosa con nuestro servicio de alisado. Olvídate del frizz y disfruta de un cabello suave y manejable en todo momento.
                </p>
                <button class="btn btn-primary"
                    ><span>Agregar servicio</span>
                </button>
            </div>
            <div class="design-6__img reveal reveal-to-bottom">
                <img
                    src="/images/services/straightening.png"
                    alt="Foto de una mano agregando esmalte"
                />
            </div>
        </div>
    </div>
</section>
