.header-menu {
    animation: toBottom .5s ease-in-out both;

    &::after {
        animation: menu 1s ease-in-out both;
        animation-timeline: scroll(root);
        animation-range: 0 150px;
        animation-fill-mode: both;
    }
}
.banner {
    img {
        animation: bannerImg 2s ease-in-out both;

        &:nth-child(2) {
            animation-delay: 0.2s;
        }

        &:nth-child(3) {
            animation-delay: .4s;
        }

        &:nth-child(4) {
            animation-delay: 0.6s;
        }

        &:nth-child(5) {
            animation-delay: 0.5s;
        }

        &:nth-child(6) {
            animation-delay: .1s;
        }

        &:nth-child(7) {
            animation-delay: .2s;
        }

        &:nth-child(8) {
            animation-delay: .4s;
        }
    }

    &__content {
        animation: toTop .5s 1s ease-in-out both;

        img {
            animation: none;
        }
    }

}
.service {
    .number {
        opacity: 0;

        &.visible {
            opacity: 1;

            svg {
                animation: textStrokeAnim 2s linear both;
                animation-iteration-count: 1;
            }
        }
    }

}
.reveal {
    position: relative;
    opacity: 0;

    &::before {
        content: '';
        position: absolute;
        left: 0;
        width: 100%;
        background-color: var(--bg-dark);
    }

    &.visible {
        opacity: 1;

        &::before {
            opacity: 1;
            animation: revealToBottom 1s linear both;
        }
    }
}
.reveal-to-bottom{
    &::before{
        bottom: 0;
    }
}
.reveal-to-top{
    &::before{
        top: 0;
    }
}
h1, p, button, .number{
    animation: linear both fadein;
    animation-timeline: view();
    animation-range: entry 20% cover 30%;
    animation-fill-mode: both;
}
