@font-face {
    font-family: "Telex";
    src: url('/fonts/Telex-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Rail";
    src: url('/fonts/Rail-Regular.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: system-ui, sans-serif;
    background: var(--bg-dark);
    color: var(--white);
    font-family: 'Telex', sans-serif;
    scroll-behavior: smooth;
}

img {
    max-width: 100%;
    display: flex;
}

h1,
h2,
h3,
h4 {
    text-wrap: balance;
    font-family: 'Rail', sans-serif;
}

h2 {
    margin: 2rem 0;

    &.title {
        margin-top: 6rem;
    }

    span {
        color: var(--primary);
    }
}

p,
span {
    text-wrap: pretty;
    max-width: 50ch;
}

a {
    text-decoration: none;
    color: var(--white);
}

.text-center,
.text-center-sm {
    text-align: center;
}

.container {
    width: 90%;
    max-width: 1440px;
    margin: 0 auto;
    position: relative;
}

.flex {
    display: flex;
}

.items-center {
    align-items: center;
}

.justify-between {
    justify-content: space-between;
}

.justify-center {
    justify-content: center;
}

.absolute {
    position: absolute;
}
.relative{
    position: relative;
}
.flex-column,
.flex-column-sm,
.flex-column-lg {
    flex-direction: column;
}

.flex-wrap {
    flex-wrap: wrap;
}

.uppercase {
    text-transform: uppercase;
}

.bold {
    font-weight: bold;
}

.btn {
    padding: 1rem 2.5rem;
    border: 1px solid transparent;
    background-color: transparent;
    cursor: pointer;
    font-weight: bold;
    position: relative;

    span {
        position: relative;
        z-index: 10;
        transition: color .3s ease-in-out;
        font-size: 1.15rem;
    }

    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 0;
        transition: .3s ease-in-out;
    }

    &:hover {
        &::after {
            width: 100%;
        }
    }

    &-primary {
        &::after {
            background-color: var(--primary);
        }

        color: var(--white);
        border: 2px solid var(--primary);
        
        &.selected{
            &::after{
                width: 100%;
            }
        }

        &-outline{
            padding: 0.5rem 1.5rem;
            border: 2px solid var(--white);
            color: var(--white);
            &::after{
                background-color: var(--white);
            }
        }


    }
    &-secondary {
        &::after {
            background-color: var(--secondary);
        }

        color: var(--white);
        border: 1px solid var(--secondary);
        display: none;

        &.show{
            display: block;
        }
    }
}

.w-100 {
    width: 100%;
}

section.service {
    padding: 6rem 0;
}

@mixin base-767 {
    .flex-column-sm {
        flex-direction: row;
    }

    .text-center-sm {
        text-align: start;
    }
}

@mixin base-1023 {
    .flex-column-lg{
        flex-direction: row;
    }
    h1 {
        &.title {
            margin-top: 10rem;
            font-size: 3rem;
        }
    }

    p {
        font-size: 1.25rem;
    }
}

@mixin base-1439 {
    h1 {
        &.title {
            font-size: 5rem;
        }
    }

    p {
        font-size: 1.5rem;
    }
}