---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>{title}</title>
		<link rel="stylesheet" href="css/main.css" />
	</head>
	<body>
		<slot />

		<script  src="js/scripts.js" is:inline></script>
	</body>
</html>
